.CartBtnItem {
    width: 250px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }

  .CartBtnItem:hover {
    background-color: brown;
    border: 1px solid white;
  }
  
  .IconContainerItem {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .textItem {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtnItem:hover .IconContainerItem {
    transform: translateX(90px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtnItem:hover .textItem {
    transform: translate(10px,0px);
    transition-duration: .5s;
    color: white;
  }
  
  .CartBtnItem:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }